
# HTID:4407376: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:4407376:


# HTID:4430399: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
AuthType Basic
AuthName "Restricted Access"
AuthUserFile "/storage/ssd3/640/4805640/public_html/.htpasswd"
Require user liomreiki
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:4430399:
